<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>animal</title>
</head>
<body>
	<span class="message" th:text="${message}"></span>
	<form action="#" th:action="@{/myHome}" th:object="${mainForm}" method="post">

	<h2 th:text="${message2}"></h2>
	<input type="submit" name="bark" value="鳴く" />
	<input type="submit" name="move" value="動く" />
	<input type="submit" name="feed" value="餌を与える" />
	<br>
	<span th:text="${msg}"></span>
	<br>
	<div th:if="${selectFeed}">
		<select name="food">
 		<option  value="肉">肉</option>
 		<option  value="魚">魚</option>
 		<option  value="ペットフード">ペットフード</option>
 		<option  value="野菜">野菜</option>
 		</select>
 		<input type="submit" name="give" value="餌をあげる" />
 		<br>
	</div>
	<span th:text="${giveMsg}"></span>
	<span th:text="${tasteMsg}"></span>
	<br>
	<input type="submit" name="back" value="戻る" />
	</form>
</body>
</html>